<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/Theme.AniMate"
        tools:targetApi="31">
        <activity
            android:name=".matchingActivityNoMod"
            android:exported="false" />
        <activity
            android:name=".dragMultipleImages"
            android:exported="false" />
        <activity android:name=".dragMultipleImagesMod"
            android:exported="false" />
        <activity android:name=".dragMultipleImagesTimeline"
            android:exported="false" />
        <activity
            android:name=".draggableImage"
            android:exported="false" />
        <activity
            android:name=".topic7screen"
            android:exported="false" />
        <activity
            android:name=".topic6screen"
            android:exported="false" />
        <activity
            android:name=".topic5screen"
            android:exported="false" />
        <activity
            android:name=".topic4screen"
            android:exported="false" />
        <activity
            android:name=".topic3screen"
            android:exported="false" />
        <activity
            android:name=".topic2screen"
            android:exported="false" />
        <activity
            android:name=".topic1screen"
            android:exported="false" />
        <activity
            android:name=".menu"
            android:exported="false" />
        <activity
            android:name=".SelectOptionMod"
            android:exported="false"
            />
        <activity
            android:name=".startActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>